<%
var title = theme.title
if (page.title) {
  title = page.title
}
%>

<title><%= title %><% if (title !== theme.suffix) { %> - <%= theme.suffix%><%} %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="<%- theme.icon %>">
<%- css('css/index.css') %>
<% if(page.tags && page.tags.data.length) { 
  let text = ''
  %>
<% page.tags.data.forEach((item, index) => {
    text += item.name + ','
}) %>
<meta name="keywords" content="<%- text %>">
<meta name="description" content="<%- page.excerpt %>">
<% }else{ %>
<meta name="keywords" content="<%- theme.keyword %>">
<meta name="description" content="<%- theme.web_description %>">
<% } %>
<%_
let cover = resolve_cover()
if (!cover) {
  cover = resolve_category_cover(page.category)
}
if (!cover) {
  cover = resolve_tag_cover(page.tag)
}
 _%>
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= page.permalink %>" />
<meta property="og:title" content="<%= page.title %>" />
<meta property="og:description" content="<%= page.description %>" />
<%_ if (cover) { _%>
<link rel="image_src" href="<%= full_url_for(cover.file) %>" />
<meta property="og:image" content="<%= full_url_for(cover.file) %>" />
<meta property="og:image:type" content="image/<%= cover.type %>" />
<meta property="og:image:width" content="<%= cover.dimensions.w %>" />
<meta property="og:image:height" content="<%= cover.dimensions.h %>" />
<%_ } _%>
<meta name="twitter:title" content="<%= page.title %>" />
<meta name="twitter:description" content="<%= page.description %>" />
<meta property="twitter:url" content="<%= page.permalink %>" />
<meta name="twitter:card" content="summary_large_image" />
<%_ if (cover) { _%>
<meta name="twitter:image:src" content="<%= full_url_for(cover.file) %>" />
<%_ } _%>
<%- js('js/jquery.min.js') %>
<%- js('js/index.js') %>
<%- js('js/fancybox.umd.js') %>
<%- js('js/fancybox-images.js') %>
<%- js('js/gitalk.min.js') %>
<%- js('js/hljs.min.js') %> 
<script>hljs.highlightAll();</script>
